.order-details {
  height: 100%;
  background: #fff;
  border: 1px solid #c7d5dc;
  border-radius: 5px;
  position: relative;
  box-shadow: 18px 20px 45px rgba(55, 72, 83, 0.12);
  padding-top: 30px;
}

.order-details__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -24px;
  top: -24px;
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  background: #fff;
  color: #8aa2ad;
  font-size: 30px;
  box-shadow: 0 4px 14px #b6c2c8;
}

.order-details__title {
  font-size: 24px;
  margin: 0 38px 26px;
  font-weight: 800;
}

.order-details__add {
  border: 0;
  background: #fff;
  margin: 0 38px 16px;
  color: #6dac2f;
}

.order-details__add-text {
  font-weight: 700;
}

.order-details__list {
  height: 190px;
  overflow-y: auto;
  display: block;
}

.order-details__product {
  height: 82px;
  border-top: 1px solid #e1e8eb;
  display: grid;
  grid-template-columns: 18px 60px 1fr 160px 42px;
  align-items: center;
  padding: 0 38px;
}

.order-details__status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c9de1e;
}

.order-details__status--dark {
  background: #233b45;
}

.order-details__image {
  width: 42px;
}

.order-details__product-info {
  display: block;
}

.order-details__product-title {
  color: var(--blue);
}

.order-details__serial {
  display: block;
  color: #8aa2ad;
}

.order-details__condition {
  color: #bdd300;
}

.order-details__delete {
  border: 0;
  background: transparent;
  color: #8ba5b0;
}
